.logo{    
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;

    cursor: pointer;
    text-decoration: none;
    text-transform: lowercase;
}

.navbar{
    width: 100%;
    margin: 30px 0;

    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.basic:hover{
    border-bottom: 2px solid orangered;
}

.special {
    border: 2px solid orangered;
    border-radius: 10px;
}

.special:hover{
    background: orangered;
}

.message{
    color: white;
    background:orangered;
    border-radius: 5px;

    padding: 10px;
    text-align: center;
    
}

.message h3{
    background: orangered;
}

.message a{
    background: orangered;
    color: white;
    text-decoration: none;
}

nav{
    flex: 1;
    font-weight: 700;

    text-align: right;
    text-transform: uppercase;
}

nav ul li{
    display: inline-block;
    list-style: none;

    margin-left: 30px;
} 

nav ul li a{
    color: #fff;
    font-size: 20px;

    padding: 15px 20px;
    text-decoration: none;
}

.checkbox{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.checkbox:checked + .label .ball{
    background-color: orangered;
    transform: translateX(22px);
}

.label{
    align-items: center;
    background-color: black;
    border-radius: 20px;
    display: flex;

    padding: 10px;
    position: relative;

    height: 26px;
    width: 50px;
}

.ball{
    background-color: white;
    border-radius: 10px;

    position: absolute;
    left: 4px;
    
    height: 20px;
    width: 20px;

    transition: transform 0.2s linear;
}

@media screen and (min-width: 240px) and (max-width: 960px) and (orientation: portrait){
    .logo{
        font-weight: 0;
        font-size: 0px;
    }

    .navbar{
        display: block;
        padding: 10px 4px;
    }
}