*{
    box-sizing: border-box;
    font-family: sans-serif;

    margin: 0px;
    padding: 0px;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    transition: background 0.2s linear;
}

body.dark{
    background-color: rgb(40, 40, 40);
}

body.dark .heading h1 span{
    background-color: white;
    color: rgba(20, 20, 20, 1);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    padding-left: 8%;
    padding-right: 8%;
}

.row{
    display: flex;
    margin: 300px 0;
    text-align: center;
    justify-content: center;
}

.col-1{
    color: #fff;
    position: relative;
    margin-left: 50px;
    flex-basis: 40%;
}

.col-1 h2{
    font-size: 48px;
}

.col-1 h3{
    font-size: 24px;
    margin: 20px 0 10px;
}

i{
    text-align: center;
    justify-content: center;
}

/*=================================*/
/*=============Heading=============*/
/*=================================*/

.heading{
    margin: 20px 0px;
}

.heading h1{
    font-size: 3.5rem;
    line-height: 72px;
}

.heading h1 span{
    background-color: rgb(40, 40, 40);
    border-radius: 10px 0px 10px 0px;

    color: white;
    padding: 6px 12px;
}

/*=================================*/
/*==============Footer=============*/
/*=================================*/

footer {
    padding: 40px;
}

footer p{
    color: rgb(40, 40, 40);
    text-align: center;
}

body.dark footer p {
    color: #cacaca;
    text-align: center;
}