#updates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
}

.update-filter{
    align-items: center;
    color: #78809c;
    display: flex;
    margin: 10px 0px 20px 0px;
}

.update-filter li{
    color: rgb(40, 40, 40);
    cursor: pointer;

    letter-spacing: 2px;
    margin: 0px 5px;
    text-transform: uppercase;
    user-select: none;
}

body.dark .update-filter li{
    color: white;
}

.update-filter li:hover{
    opacity: 0.7;
    transform: all ease 0.1s;
}

.update-filter-active{
    border-bottom: 1px solid orangered;
    padding: 10px;
}

.update-header{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    margin: 10px 0px 50px 0px;
}

.update-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0px 50px 0px;
}

.update-box{
    background-color: #f4f5ff;
    border: 1px solid rgba(51, 51, 51, 0.4);
    border-radius: 10px;
    padding: 10px 14px;
    transition: all ease 0.5s;
}

body.dark .update-box{
    background-color: #333;
    border: 1px solid rgba(244, 245, 255, 0.4);
}

.update-box:hover{
    border: 1px solid orangered;
    opacity: 0.8;
    transform: all ease 0.5s;
}

.update-text{
    display: flex;
    flex-direction: column;
    padding: 10px 3px;
}

.update-text .category{
    color: rgb(40, 40, 40);
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

body.dark .update-text .category{
    color: white;
}

.update-text strong{
    color: rgb(40, 40, 40);
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.7px;
    margin: 5px 0px;
}

body.dark .update-text strong{
    color: white;
}

.update-text .description{
    color: #3a3a3a;
    padding: 5px 0px 10px 0px;
}

body.dark .update-text .description{
    color: #9f9f9f;
}

.update-text .posttime{
    color: #3a3a3a;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

body.dark .update-text .posttime{
    color: #9f9f9f;
}

/*=================================*/

::selection{
    background-color: black;
    color: rgba(220, 220, 220, 1);
}

body.dark ::selection{
    background-color: white;
    color: rgba(20, 20, 20, 1);
}

/*=================================*/

@media screen and (min-width: 240px) and (max-width: 960px) and (orientation: portrait){
    .update-container{
        grid-template-columns: 1fr;
    }
}