#welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
}

.welcome-filter{
    align-items: center;
    color: #78809c;
    display: flex;
    margin: 10px 0px 20px 0px;
}

.welcome-filter li{
    color: white;
    cursor: pointer;

    letter-spacing: 2px;
    margin: 0px 5px;
    text-transform: uppercase;
    user-select: none;
}

.welcome-filter li:hover{
    opacity: 0.7;
    transform: all ease 0.1s;
}

.welcome-filter-active{
    border-bottom: 1px solid orangered;
    padding: 10px;
}

.welcome-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0px 50px 0px;
}

.welcome-box{
    border: 2px solid orangered;
    border-radius: 5px;
    box-shadow: 6px 4px rgba(20, 20, 20, 0.2);
    padding: 0px 10px;
    transition: all ease 0.1s;
}

.welcome-box:hover{
    border: 2px solid #9f9f9f;
    opacity: 0.8;
    transform: all ease 0.1s;
}

.welcome-text{
    display: flex;
    flex-direction: column;
    padding: 10px 3px;
}

.welcome-text .category{
    color: white;
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.welcome-text strong{
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    
    letter-spacing: 1px;
    margin: 5px 0px;
    padding: 5px 0px 0px 0px;
}

.welcome-text .description{
    color: #9f9f9f;
    letter-spacing: 1px;
    padding: 5px 0px 5px 0px;
}

/*=================================*/

@media screen and (min-width: 240px) and (max-width: 960px) and (orientation: portrait){
    .welcome-container{
        grid-template-columns: 1fr;
    }
}